html {
  box-sizing: border-box;
  height: 100%;
  background-image: url("./../img/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

.red_car {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 300px;
}

.white_car {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 300px;
}

@keyframes beating {
  to {transform: scale(1.2);}
}

.parking_lot {
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  position: absolute;
  left: 15px;
  right: 150px;
  width: 200px;
  opacity: 100%;
  visibility: hidden;
}

.scoreboard {
  position: fixed;
  margin: 20px;
  padding: 20px;
  right: 0;
  top: 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border: 3px solid black;
  border-radius: 7px;
  animation:         red-change-color 5s infinite; /* IE 10+ */
}

.scoreboard2 {
  position: fixed;
  margin: 20px;
  padding: 20px;
  left: 0;
  top: 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border: 3px solid black;
  border-radius: 7px;
  animation: white-change-color 5s infinite; /* IE 10+ */
}

@keyframes red-change-color {
  0%   { background-color: gray; }
  20% { background-color: red; }
  50% { background-color: gray; }
  100% { background-color: gray; }
}
@keyframes white-change-color {
  0%   { background-color: gray; }
  20% { background-color: whitesmoke; }
  50% { background-color: gray; }
  100% { background-color: gray; }
}

.driving{
  transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.2s;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  color: white;
  font-size: 500%;
  margin-top: 300px;
} 

.rood {
  color: red;
} 


.infobox {
  position: fixed;
  margin: 20px;
  padding: 20px;
  right: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 120%; 
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  border: 3px solid rgb(5, 40, 60);
  border-radius: 10px;
  background-color: rgb(45, 88, 114);
}